#MainNavBar {
    padding-bottom: 0px;
}

#NavTitle {
    width: 10%;
    padding-left: 1%;
}

#NavBody {
    padding-right: 1%;
}

#NavLogout {
    width: 10%;
    text-align: right;
    padding-right: 1%;
}

.MainNav {
    width: 100%;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .show > .nav-link {
    color: black;
}
